<template lang="html" src="./HeaderArticle.html"></template>
<script lang="ts" src="./HeaderArticle.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';

.menuBody {
  background-color: #ffffff;
  padding: 1.7em;
  display: flex;
  justify-content: space-between;
  font-family: 'Tahoma';

  section {
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50em;
    .menuLink {
      color: #162851;
      opacity: 0.8;
    }
    .logo {
      font-weight: bold;
      color: #162851;
      font-size: 2em;
    }
  }

  .connection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15em;
    .logIn {
      font-size: 1.1em;
      color: #162851;
      font-weight: bold;
    }
    .start {
      border: solid 2px #a200ff;
      font-weight: bold;
      border-radius: 5px;
      padding: 1.2em;
      color: #a200ff;
      transition: color 0.5s, background-color 0.5s;
      &:hover {
        background-color: #a200ff;
        color: #fff;
      }
    }
  }
  .menuResponsiveDisplayed {
    display: none;
    cursor: pointer;
    .menuBar {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }
  }
}
.menuResponsiveLinks {
  outline: none;
  display: flex !important;
  flex-direction: column;
  .menuResponsiveLink {
    border-top: 1px solid #162851;
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: #a200ff;
    transition: color 0.5s, background-color 0.5s;
    opacity: 0.8;
    &:hover {
      background-color: #a200ff;
      color: #fff;
    }
  }
}
@media screen and (max-width: 852px) {
  .menuResponsive {
    display: none !important;
  }
  .menu {
    width: 10em !important;
  }
  .menuResponsiveDisplayed {
    display: inline !important;
  }
}
</style>
