<div class="headerArticle" @focusout="closeResponsiveMenu" tabindex="0">
  <div class="menuBody">
    <div class="menu">
      <section class="logo">Curology</section>
      <section class="menuResponsive menuLink">Why Curology</section>
      <section class="menuResponsive menuLink">Community</section>
      <section class="menuResponsive menuLink">Reviews</section>
    </div>  
    <div class="connection">
      <section class="menuResponsive logIn">Log In</section>
      <section class="menuResponsive start">Start Trial</section>
    </div> 
    <div class="menuResponsiveDisplayed" @click="toggleMenu">
      <div class="menuBar"></div>
      <div class="menuBar"></div>
      <div class="menuBar"></div>
    </div> 
  </div>
  <div class="menuResponsiveLinks" v-if="isMenuDisplayed">
    <div class="menuResponsiveLink">Why Curology</div>
    <div class="menuResponsiveLink">Community</div>
    <div class="menuResponsiveLink">Reviews</div>
    <div class="menuResponsiveLink">Log In</div>
    <div class="menuResponsiveLink">Start Trial</div>
  </div>
</div>
