<div class="item">
  <div @click="openModal">
    <h1>{{ item.title }}</h1>
    <h2>{{ item.price }} $</h2>
  </div>
  <!-- <ModalVue 
    v-if="isModalVisible" 
    @close="closeModal"
    :item="item">
  </ModalVue> -->
  <component :is="modal.component" v-if="modal != null" v-bind="modal.props"/>
</div>