<template lang="html" src="./Item.html"></template>
<script lang="ts" src="./Item.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';

.item {
  background: $tertiary_color;
  width: 300px;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
}
</style>
