<template lang="html" src="./App.html"></template>
<script lang="ts" src="./App.component.ts"></script>

<style lang="scss">
@use '../../assets/styles/colors.scss' as color;

body {
  margin: 0 !important;
}
#app {
  font-family: 'Courier New';
  height: 100vh;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: 15;
  overflow-x: hidden;

  & > .content,
  & > .loading {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  & > .content {
    #header {
      flex-shrink: 0;
    }
  }
  & > .loading {
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: red;
  }
}
</style>
