<template lang="html" src="./MenuChannels.html"></template>
<script lang="ts" src="./MenuChannels.component.ts"></script>

<style lang="scss">
@use '../../assets/styles/colors.scss' as color;
</style>
