<div class="header">
  <nav class="headerTwitch">
    <div class="links">
      <img src="@/assets/image/twitch-logo.png"/>
      <div class="linksText">
        <div class="link following">Following</div>
        <div class="link browse">Browse</div>
        <div class="link esports">Esports</div>
        <div class="link music">Music</div>
        <div class="responsiveLogo following"><i class="far fa-heart"></i></div>
        <div class="responsiveLogo browse"><i class="far fa-heart"></i></div>
        <div class="responsiveLogo esports"><i class="far fa-heart"></i></div>
        <div class="responsiveLogo music"><i class="far fa-heart"></i></div>
      </div>
      <i class="logo fas fa-ellipsis-h"></i>
    </div>
    <div class="searchBarBlc">
      <div class="searchBar">
          <input type="text" class="inputBar" placeholder="Search"/>
        <div class="loop"><i class="fas fa-search"></i></div>
      </div>
    </div>
    <div class="parametersProfil">
      <div class="profilLinks">
        <div class="logo searching">
          <ToolTipComponent value="Search"/>
          <i class="fas fa-search"></i>
        </div>
        <div class="logo prime">
          <ToolTipComponent value="Prime"/>
          <i class="fab fa-fort-awesome"></i>
        </div>
        <div class="logo notifications">
          <ToolTipComponent value="Notification"/>
          <i class="fas fa-box"></i>
        </div>
        <div class="logo whispers">
          <ToolTipComponent value="Message"/>
          <i class="far fa-comment-alt"></i>
        </div>
        <div class="logo bits"><i class="fab fa-vuejs"></i> Get Bits</div>
        <div class="vue responsiveLogo"><i class="fab fa-vuejs"></i></div>
        <div class="profil"><i class="far fa-user"></i></div>
      </div>
    </div>
  </nav>
</div>