<template lang="html" src="./Header.html"></template>
<script lang="ts" src="./Header.component.ts"></script>

<style lang="scss">
@use '../../assets/styles/colors.scss' as color;

// #772ce8 twitch

.headerTwitch {
  font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #18181b;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  .responsiveLogo {
    display: none;
  }
  .links {
    font-size: 1.2em;
    height: 100%;
    color: #fff;
    display: flex;
    width: 33%;
    justify-content: space-around;
    .linksText {
      display: flex;
      justify-content: space-between;
      width: 19em;
      div {
        align-self: center;
        &:hover {
          color: #772ce8;
          cursor: pointer;
        }
      }
    }
    .fas {
      color: #fff;
      cursor: pointer;
      align-self: center;
      font-size: 0.8em;
    }
    img {
      cursor: pointer;
      height: 1.8em;
      align-self: center;
    }
  }
  .searchBarBlc {
    width: 33%;
    display: flex;
    .searchBar {
      align-self: center;
      display: flex;
      margin: auto;
      width: 80%;
      .inputBar {
        height: 32px;
        background-color: rgb(133, 131, 131);
        padding-left: 1em;
        width: 100%;
        border-radius: 6px 0px 0px 6px;
        border: none;
        outline: none;
        color: #fff;
        &:hover {
          border: 1.2px solid rgb(204, 203, 203);
        }
        &:focus {
          border: 2.2px solid #772ce8;
          background-color: #000;
        }
      }
      .loop {
        cursor: not-allowed;
        border-radius: 0px 6px 6px 0px;
        align-self: center;
        height: 34px;
        width: 2em;
        display: flex;
        justify-content: center;
        background-color: #393939;
        i {
          color: rgb(165, 165, 165);
          align-self: center;
        }
      }
    }
  }
  .parametersProfil {
    width: 33%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    .profilLinks {
      width: 16em;
      margin-right: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .searching {
        display: none;
      }
      .bits {
        background-color: #393939;
        border-radius: 6px;
        font-size: 14px;
        flex-direction: row;
        padding: 8px;
        .fab.fa-vuejs {
          margin-right: 0.4em;
        }
        &:hover {
          background-color: #605e5e;
        }
      }
      .profil {
        .fa-user {
          color: #fff;
          background-color: blue;
          border-radius: 50%;
          cursor: pointer;
          padding: 8px;
        }
      }
    }
  }
  .logo {
    color: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #605e5e;
      border-radius: 8px;
      div {
        display: flex !important;
      }
      i {
        display: block !important;
      }
    }
  }
}
@media screen and (max-width: 1450px) {
  .linksText {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1170px) {
  .links {
    margin-left: 0.4em;
  }
  .linksText {
    justify-content: space-around !important;
  }
  .link {
    display: none !important;
  }
  .responsiveLogo {
    display: block !important;
    color: #fff !important;
    cursor: pointer !important;
    &:hover {
      color: #772ce8 !important;
    }
  }
  .bits {
    display: none !important;
  }
}

@media screen and (max-width: 890px) {
  .searching {
    display: flex !important;
  }
  .searchBarBlc {
    display: none !important;
  }
  .links {
    width: 50% !important;
  }
  .parametersProfil {
    width: 40% !important;
  }
}
@media screen and (max-width: 470px) {
  .profil {
    display: none !important;
  }
  .vue {
    display: none !important;
  }
}
</style>
