<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
@Component({
  components: {},
})
export default class ToolTipComponent extends Vue {
  @Prop(String) value!: string;
}
</script>

<style lang="scss">
@use '../../assets/styles/colors.scss' as color;

.toolTipBlc {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: -3.2em;
  position: absolute;
  .fas.fa-caret-right {
    transform: rotate(-90deg);
    margin: -5px;
  }
  .toolTip {
    margin-top: 0em;
    background-color: #fff;
    padding: 8px;
    color: #000;
    border-radius: 8px;
  }
}
</style>

<template>
  <div class="toolTipBlc">
    <i class="fas fa-caret-right"></i>
    <div class="toolTip">{{ value }}</div>
  </div>
</template>
