<template lang="html" src="./Items.html"></template>
<script lang="ts" src="./Items.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';

@mixin variableScss($var1, $var2) {
  display: flex;
  align-items: $var1;
  justify-content: $var2;
}

.items {
  height: 100vh;
  scroll-snap-align: end;
  margin-left: 1em;
  width: 100%;
  overflow-y: scroll;

  .item {
    float: left;
    margin: 10px;
    width: 250px;
    transition: background-color 0.5s;
    text-align: center;
    &:hover {
      background-color: yellow;
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    }
  }
}
</style>
