<template lang="html" src="./HomePage.html"></template>
<script lang="ts" src="./HomePage.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';

// .items {
</style>
