<div class="slider">
  <div class="title">
    <h1>Some slider</h1>
  </div>
    <div class="basicSliderDiv">
      <i v-if="currentIndex > 0" class="fas fa-angle-left" @click='prev()'></i>
      <div v-for="image in [currentIndex]" :key="image">
        <img class="image fade" :src="currentImg" />
      </div>
      <i v-if="images.length - 1 != currentIndex " class="fas fa-angle-right" @click='next()'></i>
    </div>
    <div class="anotherSlider">
      <div v-for="image in images" :key="image">
        <img class="anotherImage" :src="image" />
      </div>
    </div>
</div>