<template lang="html" src="./Slider.html"></template>
<script lang="ts" src="./Slider.component.ts"></script>

<style lang="scss">
@use '../../assets/styles/colors.scss' as color;

@media screen and (max-height: 650px) {
  .basicSliderDiv {
    display: none !important;
  }
}
.slider {
  height: 100vh;
  scroll-snap-align: end;
  width: 100%;
  background-color: rgb(238, 234, 234);

  .title {
    text-align: center;
    margin: 5em;
  }
  .basicSliderDiv {
    display: flex;
    justify-content: center;

    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
    .fas {
      margin: 10px;
      font-size: 30px;
      cursor: pointer;
      transition: 0.7s ease;
      margin-top: 110px;
      &:hover {
        opacity: 0.5;
      }
    }
    .image {
      width: 250px;
      height: 250px;
    }
  }
  .anotherSlider {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-snap-type: x mandatory !important;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    .anotherImage {
      margin: 27.5px;
      width: 250px;
      scroll-snap-align: start;
      height: 250px;
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
      flex: 0 0 auto;
      transition: 0.4s ease;
      &:hover {
        opacity: 0.7;
        transition: 0.4s ease;
        cursor: pointer;
        width: 300px;
        height: 300px;
      }
    }
  }
}
</style>
