<template lang="html" src="./InputHeader.html"></template>
<script lang="ts" src="./InputHeader.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';

a {
  text-decoration: none;
  color: black;
  .fas {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
