<template lang="html" src="./ArticlePage.html"></template>
<script lang="ts" src="./ArticlePage.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';
.articlePage {
  font-family: 'Tahoma';
  letter-spacing: 2px;
  .article {
    display: flex;
    margin-top: 4.8em;
    flex-direction: row-reverse;
    justify-content: space-around;
    .decripitonArticle {
      display: flex;
      flex-direction: column;
      max-width: 38em;
      color: #808080;
      .header {
        font-size: 2.8em;
        color: #a200ff;
        font-weight: bold;
        margin-bottom: 0.6em;
      }
      .subHeader {
        margin-bottom: 1em;
        strong {
          font-weight: bold;
          font-size: 2em;
          color: #000 !important;
        }
      }
      .body {
        margin-bottom: 2em;
      }
      .buttonOrder {
        text-decoration: none;
        margin-bottom: 2em;
        cursor: pointer;
        border: solid 2px #a200ff;
        font-weight: bold;
        border-radius: 5px;
        padding: 1.2em;
        width: 16em;
        color: #fff;
        background-color: #a200ff;
        transition: color 0.5s, background-color 0.5s;
        transition: box-shadow 0.2s;
        &:hover {
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
        }
      }
      .opinionsPeople {
        margin-bottom: 2.4em;
        display: flex;
        justify-content: space-between;
        max-width: 26em;
        align-items: center;
        .faces {
          display: flex;
          .face {
            background-size: cover;
            background-position: center;
            width: 2.4em;
            height: 2.4em;
            border-radius: 50%;
            margin-right: -1.2em;
          }
        }
        .outRange {
          background-color: #a200ff;
          width: 2.4em;
          height: 2.4em;
          border: 1px solid rgb(181, 177, 177);
          background-size: cover;
          color: #fff;
          text-align: center;
          background-position: center;
          border-radius: 50%;
          .outRangeFace {
            font-size: 0.9em;
            margin: 8px;
          }
        }
      }
      .advantageArticle {
        .advantage {
          margin-top: -1em;
          font-size: 0.9em;
          color: #000;
          opacity: 0.9;
          .body {
            display: flex;
            justify-content: space-between;
            max-width: 20em;
            .check.icon {
              color: rgb(13, 255, 0);
              width: 14px;
              height: 8px;
              border-bottom: solid 1px currentColor;
              border-left: solid 1px currentColor;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    .imageBloc {
      display: flex;
      flex-direction: column;
      max-width: 38em;
      .mainImage {
        background-size: cover;
        background-position: center;
        width: 38em;
        height: 28em;
        border-radius: 8px;
      }
      .images {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        .littleImage {
          background-size: cover;
          background-position: center;
          width: 12em;
          height: 8em;
          border-radius: 8px;
        }
      }
    }
  }
}
@media screen and (max-width: 1240px) {
  .article {
    flex-direction: column-reverse !important;
    align-items: center;
    .decripitonArticle {
      margin-top: 1.4em;
      margin-left: 1.4em;
    }
  }
}
@media screen and (max-width: 474px) {
  .opinionsPeople {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .images {
    display: flex;
    flex-wrap: nowrap !important;
    overflow: scroll;
    scroll-snap-type: x mandatory !important;
    -ms-overflow-style: none;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    .littleImage {
      margin-left: 3em;
      scroll-snap-align: start;
      flex: 0 0 auto;
      transition: 0.4s ease;
    }
  }
}
@media screen and (max-height: 800px) {
  .article {
    margin-top: 1.2em !important;
  }
}
</style>
