<div class="articlePage">
  <HeaderArticleVue/>
  <div class="article">
    <div class="decripitonArticle">
      <div class="header"> A custom bottle for yours zits </div>
      <div class="subHeader">
        <strong>$ 4.95</strong> in shipping
      </div>
      <div class="body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a orci qui
        s ligula semper tincidunt sit amet nec nisl. Etiam sodales lacinia el
        eifend. Vestibulum mollis sapien lobortis bibendum aliquet. Maecenas
        dui nibh, placerat et dapibus quis, sollicitudin sed 
        lorem. Nunc odio arcu, ullamcorper non tincidunt id, 
      </div>
      <button class="buttonOrder">Add to card</button>
      <div class="opinionsPeople">
        <div class="faces">
          <div class="face" 
          v-for="index in 4" 
          :key="index - 1"
          :style="{ backgroundImage: `url('${faces[index - 1]}')` }"></div>
          <div class="face outRange" v-if="faces.length > 4">
            <div class="outRangeFace">+{{faces.length}}</div>
          </div>
        </div>
        <div class="text">11 other people tried it today</div>
      </div>
      <div class="advantageArticle">
        <div class="advantage" v-for="value in advantages">
          <div class="body">
            <div class="check icon"></div> <div>{{value}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="imageBloc">
      <div class="mainImage" :style="{ backgroundImage: `url('${mainImage}')` }"></div>
      <div class="images">  
        <div class="littleImage" :style="{ backgroundImage: `url('${descriptionImage}')` }" ></div>
        <div class="littleImage" :style="{ backgroundImage: `url('${descriptionImage}')` }" ></div>
        <div class="littleImage" :style="{ backgroundImage: `url('${descriptionImage}')` }" ></div>
      </div>
    </div>
  </div>
</div>
