$primary_color: #7e35ff;
$secondary_color: #937fff;
$tertiary_color: #29d4ff;
$quaternary_color: #ffbb00;
$quinary_color: #ffffff;
$senary_color: #fafafa;
$septenary_color: #ababab;
$octonary_color: #000000;
$text_main_color: white;

$slideInFromRight0: 75%;
$slideInFromRight100: -50;

$slideInFromLeft0: -75%;
$slideInFromLeft100: 50;


@mixin animationHeader($name, $y, $x) {
  @keyframes #{$name} {
    0% {
      transform: translateX($x);
    }
    100% {
      transform: translateX($y);
    }
  }
}

@mixin keyframes($name) {
  @keyframes #{$name} {
      @content;
  }
} 