<template lang="html" src="./Directory.html"></template>
<script lang="ts" src="./Directory.component.ts"></script>

<style lang="scss">
@use '../../assets/styles/colors.scss' as color;

// https://www.w3schools.com/css/css_rwd_grid.asp
// regarde
</style>
