<template lang="html" src="./Header.html"></template>
<script lang="ts" src="./Header.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';

// .header {
//   background-image: url("https://www.itl.cat/pngfile/big/2-25090_retro-wallpapers-retrowave.jpg");
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media screen and (max-width: 1000px), screen and (max-height: 465px) {
  .loadingBar {
    display: none !important;
  }
}

@media screen and (max-width: 940px) {
  .header {
    background: linear-gradient(110deg, #fdcd3b 70%, white 70%) !important;
  }
  .headerTitle {
    flex-direction: column !important;
  }
  h1 {
    margin: auto;
    margin-top: 1em;
  }
}
.header {
  background: linear-gradient(110deg, #fdcd3b 50%, white 50%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  scroll-snap-align: start;
  animation: refreshPage 1s ease-out 0s 1;
  scroll-behavior: smooth !important;

  .headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: row;
    height: 20em;

    .name {
      animation: slideRight 1s ease-out 0s 1;
    }
    .vuejs {
      animation: slideRight 1s ease-out 0s 1;
      color: #ffed4b;
    }
    // animation-fill-mode: forwards;
    h1 {
      color: white;
      width: 5em;
      height: 150px;
      font-size: 5em;
    }
  }

  .loadingBar {
    height: 5px;
    position: relative;
    background: #17cbdf;
    width: 200px;
    overflow: hidden;
    margin: auto;
  }

  .loadingBar span {
    display: block;
    height: 100%;
    .progress {
      background-color: rgb(47, 57, 243);
      animation: progressBar 10s ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }
  }
}

@include animationHeader(refreshPage, 50, 50%);

@include keyframes(slideRight) {
  0% {
    transform: translateX($slideInFromRight0);
    opacity: 0.2;
  }
  100% {
    transform: translateX($slideInFromRight100);
    opacity: 1;
  }
}
@include keyframes(slideLeft) {
  0% {
    transform: translateX($slideInFromLeft0);
    opacity: 0.2;
  }
  100% {
    transform: translateX($slideInFromLeft100);
    opacity: 1;
  }
}
</style>
