<div class="header">
  <div class="headerTitle">
    <h1 class="name">CHRETIEN Tristan</h1>
    <h1 class="vuejs" >Vue js (ddd)</h1>
  </div>
  <InputHeaderVue/>
  <!-- <div class="loadingBar">
    <span style="width:100%"><div class="progress"></div></span>
  </div> -->
</div>