<transition name="fade">
<div class="modal" @click.self.prevent="close">
  <div class="background">
    <div class="header">
      <div class="modalTitle"></div>
      <div class="modalTitle">{{ item.title }}</div>
    <button
    type="button"
    class="btn-close"
    @click="close"> 
      x
    </button>
  </div>
  <div class="body">
    <div class="informations">
      <p><strong>Decription</strong> : {{ item.shortDescription }}</p>
      <p><strong>Prix</strong> : {{ item.price }}</p>
    </div>
    <img src="https://www.educol.net/image-pomme-dl16119.jpg"/>
  </div>
    <div class="footer">

    </div>
  </div>
</div>
</transition>