<template lang="html" src="./Modal.html"></template>
<script lang="ts" src="./Modal.component.ts"></script>

<style lang="scss" scoped>
@import '@/assets/styles/colors.scss';

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .background {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    height: 60%;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    border-radius: 5px;
    min-width: 500px;
    min-height: 345px;
    .header {
      display: flex;
      justify-content: space-between;
      .btn-close {
        border: none;
        text-decoration: none;
        background-color: white;
      }
      .modalTitle {
        font-size: 2em;
        font-weight: bold;
      }
    }
    .body {
      display: flex;
      justify-content: space-around;
      .informations {
        font-size: 1.2em;
        strong {
          font-size: 1.4em;
        }
        p {
          text-align: start;
        }
      }
      img {
        width: 20em;
        height: 20em;
        background-size: cover;
      }
    }
    button {
      cursor: pointer;
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
